confirm-modules-purge=false
only-built-dependencies[]=sqlite3
only-built-dependencies[]=@napi-rs/canvas
@tmrxjd:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_TOKEN}
always-auth=true
